::ng-deep .mdc-tab__text-label {
  color: white !important;
}

::ng-deep .mat-mdc-tab-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden !important;
  padding-top: 15px;
}

main {
  width: 100%;
  height: 100%;
  background-color: #151e3d;
  color: white;

  section.authContainer {
    .wrapper {
      width: 100%;
      padding-top: 150px;
      display: flex;
      justify-content: space-between;

      form {
        width: 50%;
        mat-form-field {
          display: flex;
          flex-direction: column;
          width: 50%;
          overflow: hidden;
          .reg {
            display: flex;
            justify-content: flex-end;
          }

          .mat-tab-body-content {
            overflow: hidden; /* Hides any overflow content */
          }
        }
      }
    }
  }

  .sideContainer {
    padding-left: 50px;
    img {
      width: 500px;
    }
    .textContainer {
      width: 500px;

      h2 {
        font-weight: 300;
      }
    }
  }
}
