<main>
  <section class="upSection">
    <div class="headerText">
      <h1>
        Your daily planner for staying on top of tasks and achieving goals.
      </h1>
    </div>
  </section>

  <section class="secondSection">
    <div class="textSection">
      <ul>
        <li>
          <img
            src="https://cdn-icons-png.flaticon.com/512/9717/9717679.png"
            alt=""
          />
          <h2>Effortlessly organize tasks and boost productivity.</h2>
        </li>
        <li>
          <img
            src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678116-calendar-512.png"
            alt=""
          />
          <h2>Stay on top of your day with our streamlined todo list.</h2>
        </li>
        <li>
          <img
            src="https://icons.veryicon.com/png/o/business/industry-desktop-icon-library/top-100-projects-with-fast-progress.png"
            alt=""
          />
          <h2>Manage tasks efficiently and achieve your goals.</h2>
        </li>
      </ul>
    </div>
  </section>

  <section class="registerContainer">
    <div class="box">
      <h1></h1>
    </div>
  </section>
</main>
