<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-regular fa-clipboard"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="wrapper">
          @if (user$ | async) { @for (navItem of navigationLeftAfter; track
          navItem.title) {
          <a class="nav-link" aria-current="page" [routerLink]="navItem.path">{{
            navItem.title
          }}</a>
          } }@else { @for (navItem of navigationLeft; track navItem.title) {
          <a class="nav-link" aria-current="page" [routerLink]="navItem.path">{{
            navItem.title
          }}</a>
          } }
        </div>
        <div class="loginRegister">
          @if (user$ | async) { @for (navItem of navigationRightAfter; track
          navItem.title) {
          <a [routerLink]="navItem.path" class="headerLogin">{{
            navItem.title
          }}</a>
          }
          <a routerLink="" class="headerLogin" (click)="logOut()">Log Out</a>
          } @else { @for (navItem of navigationRight; track navItem.title) {
          <a [routerLink]="navItem.path" class="headerLogin">{{
            navItem.title
          }}</a>
          } }
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
