<main>
  <section class="wrapper">
    <div class="profileInfo">
      <div class="imgInfos">
        <div class="imgContainer">
          <img *ngIf="user$ | async as user" [src]="user.avatar" alt="" />
        </div>
        <div class="infos" *ngIf="user$ | async as user">
          <h1>{{ user.firstName }}</h1>
          <h1>{{ user.lastName }}</h1>
          <h1>{{ user.email }}</h1>
        </div>
      </div>
      <div class="moreInfo">
        <div class="midContainer">
          <h2>current tasks {{ tasks.length }}</h2>
          <h2>complated tasks ()</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="todo">
    <div class="todoInputs">
      <form action="" (submit)="addTask()">
        <label for="title">Enter Title</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Todo title"
          class="titleInput"
          [(ngModel)]="newTask.title"
        />
        <label for="description" class="topRes">Enter description</label>
        <textarea
          name="textarea"
          id="description"
          name="description"
          class="description"
          [(ngModel)]="newTask.description"
          placeholder="Enter description"
        ></textarea>
        <div class="btnBox">
          <button class="btnStyle">Add Task</button>
        </div>
      </form>
    </div>
  </section>

  <section class="todoCards">
    <div class="headerText">
      <h1>your todo list</h1>
      <app-task-card
        *ngFor="let task of tasks"
        [task]="task"
        (remove)="removeTask($event)"
      ></app-task-card>
    </div>
  </section>
</main>
