<main>
  <section class="wrapper">
    <div class="profileInfo">
      <div class="imgInfos">
        <div class="imgContainer">
          <img
            *ngIf="user$ | async as user"
            [src]="user.avatar"
            alt=""
            class="border changeAvatar"
          />
        </div>
        <div class="infos" *ngIf="user$ | async as user">
          <h1 style="text-transform: capitalize">
            Fist name :
            <span style="color: rgb(212, 118, 51)">{{ user.firstName }}</span>
          </h1>
          <h1 style="text-transform: capitalize">
            Last name :
            <span style="color: rgb(212, 118, 51)">{{ user.lastName }}</span>
          </h1>
          <h1>Email address : {{ user.email }}</h1>
        </div>
      </div>
      <div class="moreInfo">
        <div class="midContainer">
          <h2 class="fontRes">current tasks {{ tasks.length }}</h2>
          <h2 class="fontRes">complated tasks {{ completedTasks.length }}</h2>
          <h2 [ngSwitch]="score" class="fontRes">
            Score : {{ score }}
            <span *ngIf="score >= 20 && score < 50"
              >{{ ranks.bronze }}
              <span class="nextC">next rank {{ ranks.silver }}</span></span
            >
            <span *ngIf="score >= 50 && score < 100"
              >{{ ranks.silver }}
              <span class="nextC">next rank {{ ranks.gold }}</span></span
            >
            <span *ngIf="score >= 100 && score < 150"
              >{{ ranks.gold }}
              <span class="nextC">next rank {{ ranks.platinum }}</span></span
            >
            <span *ngIf="score >= 150 && score < 200"
              >{{ ranks.platinum }}
              <span class="nextC">next rank {{ ranks.diamond }}</span></span
            >
            <span *ngIf="score == 200"
              >{{ ranks.diamond }} <span class="nextC">MAX LEVEL</span></span
            >
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class="todo">
    <div class="todoInputs">
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                Create Task
              </h1>
              <button
                type="button"
                class="btn-close bg-light"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="" (submit)="addTask()">
                <label for="title">Enter Title</label>
                <input
                  type="text"
                  id="title"
                  name="title"
                  placeholder="Todo title"
                  class="titleInput"
                  [(ngModel)]="newTask.title"
                />
                <label for="description" class="topRes"
                  >Enter description</label
                >
                <textarea
                  name="textarea"
                  id="description"
                  name="description"
                  class="description"
                  [(ngModel)]="newTask.description"
                  placeholder="Enter description"
                ></textarea>
                <div class="btnBox">
                  <div class="btn">
                    <button class="btnStyle">Add Task</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary bg-danger"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="buttonBox">
        <button
          type="button"
          class="btn btn-primary modalBtn createBtn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Create Task !
        </button>
        @if (tasks.length > 0) {
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Check your tasks
          <span class="badge text-bg-secondary">{{ tasks.length }}</span>
        </button>
        }@else {
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          disabled
        >
          Check your tasks
          <span class="badge text-bg-secondary bg-secondary">{{
            tasks.length
          }}</span>
        </button>
        }
      </div>
    </div>
  </section>
  <section class="todoCards">
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              Your tasks
            </h1>
            <button
              type="button"
              class="btn-close bg-light"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="gridWrapper">
              <app-task-card
                *ngFor="let task of tasks; let i = index"
                [task]="task"
                [index]="i"
                (remove)="removeTask($event)"
                (complete)="taskComplete($event)"
              ></app-task-card>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <!-- <button type="button" class="btn btn-primary">Understood</button> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
